# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Pyhton
2. SQL
3. R
4. Scala
5. Java
6. C++
7. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy
4. Matplotlib

| Data Science Tools |
|--------------------|
| Jupyter IDE |
| R Studio |
| Microsoft Visual Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [13]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [17]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

**Objectives:**
- List popular languages for Data Science
- List popular libraries for Data Science
- Make a table with popular Data Science Tools
- Arithmetic expressions

## Author
Iv√°n Ortiz